.innDiv {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.bookingForm {
    border: 10px double #bfaf8f;
    padding: 20px;
}

#bookedTitle {
    margin: 0;
}

.bookingLabel {
    width: 30vw;
    justify-content: space-between;
}
