form {
    position: relative;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formDiv {
    /* width: 90vw; */
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

a {
    padding: 10px;
}

button {
    margin: 5px;
    padding: 5px;
}
