/* TODO Add site wide styles */
body {
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
