/*
* COLORS
  * #1B2026 - LIGHT BLACK
  * #080B0D - BLACK
  * #878A8C - MID GRAY
  * #BFAF8F - MILD GOLD
  * #F2F2F2 - OFF WHITE
*/

@font-face {
  font-family: 'MagicCards';
  src: url('../src/fonts/magic_cards/MagicCardsNormal.ttf');
}
@font-face {
  font-family: 'TrajanPro';
  src: url('../src/fonts/trajanPro/Trajan\ Pro.ttf');
}
@font-face {
  font-family: 'TrajanRegular';
  src: url('../src/fonts/trajanPro/TrajanPro-Regular.ttf');
}

body {
  margin: 0;
  background-color: #080B0D;
  position: relative;
  top: 75px;
}

body::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.footerHider {
  height: 35px;
}

a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
