/*
* COLORS
  * #1B2026 - LIGHT BLACK
  * #080B0D - BLACK
  * #878A8C - MID GRAY
  * #BFAF8F - MILD GOLD
  * #F2F2F2 - OFF WHITE
*/
body {
  margin: 0;
  background-color: #080B0D;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
