nav {
  display: grid;
  background-color: #1b2026;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 2px 2px 15px #bfaf8f, -2px 2px 15px #bfaf8f;
  width: 100vw;
  height: 75px;
  top: 0;
  position: fixed;
  z-index: 1;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  align-items: center;
}

.left-nav {
  color: #f2f2f2;
  grid-column: 1;
}

.center-nav {
  grid-column: 2;
  color: #f2f2f2;
  font-size: 40px;
  font-family: "MagicCards";
  justify-content: center;
  padding-top: 0.3em;
}

.right-nav {
  color: #f2f2f2;
  grid-column: 3;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: 15px;
}

.navButtons {
  font-size: 20px;
  background-color: transparent;
  color: #f2f2f2;
  border: transparent;
  margin: 10px;
  font-size: 30px;
}

.formButton {
  margin-top: 20px;
}

.profile-dropdown {
  position: absolute;
  top: 75px;
  right: 0px;
  background-color: #080b0d;
  margin: 0px;
  padding: 15px;
  border: 6px double #bfaf8f;
  z-index: 0;
}

li {
  list-style: none;
}

.navLinksText {
  font-family: "TrajanRegular";
}
